os: unstable


platform:
- x64

install:
- ps: $env:Path += ";C:\MinGW\bin"
- ps: $env:Path += ";C:\MinGW\msys\1.0\bin"
# can't use PS for git submodule
- git submodule update --init --recursive

build_script:
- env
- cd mongoose\examples\simplest_web_server
- make
